@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}
.carousel-img {
  height: 70vh;
  object-fit: cover;
  object-position: center 75%;
}
::-webkit-scrollbar {
  display: none; /* Para navegadores WebKit (Chrome, Safari, etc.) */
}
.contactRow {
  background-color: #023047;
  color: white;
}
.brandRow {
  background-color: #219ebc;
  color: white;
}
.contactRow img {
  width: 20px;
}
.contactButton {
  position: fixed;
  padding: 10px;
  background-color: #25d366;
  border: 5px white;
  color: white;
  bottom: 50px; /* ajusta según tu preferencia */
  right: 30px; /* ajusta según tu preferencia */
  z-index: 1000; /* asegura que el botón esté por encima de otros elementos */
  border-radius: 10px;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

.keyWordA {
  color: #ffb703;
}
.keyWordB {
  color: #8ecae6;
}
.miniCarrusel-img {
  height: 450px;
  object-fit: cover; /* Asegura que las imágenes se adapten sin distorsionarse */
  object-position: center 70%;
  margin: 0;
  padding: 0;
  width: 100%; /* Centra la imagen en el contenedor */
}
.carta {
  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 20px;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}
.postit p {
  margin: 0;
}
li {
  text-decoration: none;
}

.postit {
  margin-left: 120px;
  position: relative;
  z-index: 800;
  width: 90%;
  background: #ffc;
  padding: 15px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.3);

  overflow-x: hidden;
  font-family: "Gloria Hallelujah";
  font-style: normal;
}
.postit h5 {
  font-weight: 600;
}
.precio {
  color: white;
  background-color: #fb8600d5;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  padding-right: 15px;
  z-index: 100;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.left {
  transform: rotate(-3deg);
}
.right {
  transform: rotate(3deg);
}
.medidas {
  color: gray;
}
.translateButton {
  background: none;
  border: none;
}

.carousel-container {
  position: relative;
}
